//=================colors=================
$color-font-gray:#5C6068;
$color-font-orange:#ff6600;
$color-font-lgray:#606362;

$color-bg-lgray: #efefef;
$color-bg-gray:#f8f9fa;
$color-bg-dgray:#ced2da;
$color-bg-green:#B5D42B;